.icon-systemmasterdata {
    background-image: url(../images/icon-masterdata16x16.png) !important;
}

.icon-systemmasterdata-shortcut {
    background-image: url(../images/icon-masterdata48x48.png) !important;
}

.icon-systemmasterdata-add-image {
    background-image: url(../images/icon-add.png) !important;
}

.icon-systemmasterdata-collapse {
    background-image: url(../images/icon-collapse.png) !important;
}

.icon-systemmasterdata-expand {
    background-image: url(../images/icon-expand.png) !important;
}

.icon-systemmasterdata-save {
    background-image: url(../images/icon-save.png) !important;
}

.icon-systemmasterdata-trash {
    background-image: url("../images/icon-trash.png") !important;
}

.icon-systemmasterdata-import {
    background-image: url("../images/icon-import.png") !important;
}

.icon-systemmasterdata-export {
    background-image: url("../images/icon-export.png") !important;
}

.icon-systemmasterdata-actions {
    background-image: url("../images/icon-actions.png") !important;
}

.icon-systemmasterdata-reload {
    background-image: url("../images/icon-reload.png") !important;
}

.icon-systemmasterdata-edit {
    background-image: url("../images/icon-edit.png") !important;
}

.md-customGridRowHighlight .x-grid-cell {
    background-color: #fff9c4 !important;
}

.md-customGridRowHighlightWarning .x-grid-cell {
    background-color: #ffb4b4 !important;
}

.md-customGridRowHighlightSuccess .x-grid-cell {
    background-color: #b4ffb4 !important;
}

.systemmasterdata-grid .x-grid-rowbody{
    padding-top: 0!important;
    padding-bottom: 0!important;
}


.systemmasterdata-grid-rowexpander > dt{
    color: #31708f!important;
}

.systemmasterdata-grid-warningSuccess > dt{
    color: #b4ffb4!important;
}

.systemmasterdata-grid-warningAlready > dt{
    color: #ff4b4b !important;
}


.systemmasterdata-grid-warning > dt{
    color: #ff6464 !important;
}
